# Node modules
node_modules/

# Build output
dist/
.vite/
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store

# Environment files
.env
.env.local

src/hooks/useSimulator.js
